*{
    margin: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 14px;
}

main{
    width: 1400px;
    margin: auto;
}
.wight{
 padding: 0 100px;
}

.name{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}

.name_up{
    color: black;
    margin-top: 100px;
}

.name_up::after{
    content: '';
    display: block;
    border: 1px solid red;
    background-color: red;
    width: 64px;
    height: 1px;
    margin-left: calc(50% - 32px);
    margin-top: 25px;
    margin-bottom: 30px;
}

.text{
    font-size: 14px;
    color: grey;
    text-align: center;
}

.tile_wrapper{
    margin-top: 67px;
    display: flex;
}

.tile_container{
    display: block;
    width: 350px;
    height: 225px;
    margin: auto;
}

.tile_image{
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
}

.tile img{
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    margin-left: 50%;
  }

.tile_name{
    text-align: center;
    margin-top: 30px;
}

.tile_description{
    text-align: center;
    margin-top: 16px;
}

.fon_container{
    width: 1400px;
    height: 325px;
    margin-top: 88px;
    background-image: url(./img/city.svg);
}

.fon::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    width: 1400px;
    height: 325px;
    z-index: 0;
}

.name_down{
    padding-top: 76px;
    color: white;
}

.name_down::after{
    content: '';
    display: block;
    border: 1px solid white;
    background-color: white;
    width: 64px;
    height: 1px;
    margin-left: calc(50% - 32px);
    margin-top: 48px;
    margin-bottom: 30px;
}

.text_down{
    margin-top: 30px;
    text-align: center;
    color: white;
}

.fon_download{
    color: white;
    text-align: center;
    margin-top: 41px;
    font-size: 15px;
    border: 1px solid white;
    margin-left: calc(50% - 67px);
    padding: 11px 0;
    width: 135px;
}

.fot_container{
    width: 1400px;
    height: 101px;
    margin: auto;
    background-color: black;
}

.fot_image{
    margin-left: 541px;
    padding-top: 30px;
}

.fot_name{
    padding-top: 18px;
    text-align: center;
    font-size: 12px;
    text-align: center;
    color: white;
}
